@import 'variables';

body {
  font: {
    family: 'Inter', sans-serif;
    size: 16px;
    weight: 500;
  }
  line-height: 1.6;
  background: $background-color;

  &.body__dark {
    background-color: $background-color-dark;
  }
}
