@import 'variables';

.button {
  border: 0;
  border-radius: 5px;
  color: white;
  background: $third-color;
  font-size: $todo-button-font-size;
  line-height: 1.2;
  white-space: nowrap;
  padding: $small-padding;
  margin: $small-margin 0.25rem;

  cursor: pointer;

  &__done {
    @extend .button;

    &:hover {
      background: darken($third-color, 10%);
    }
  }

  &__done-disabled {
    @extend .button;

    background: $first-color;
    color: $third-color;
    cursor: not-allowed;
  }

  &__remove {
    @extend .button;

    &:hover {
      background: darken($third-color, 10%);
    }
  }
}
