@import 'variables.scss';

.moon {
  position: absolute;
  top: $icon-top;
  right: $icon-right;
  height: $moon-icon-height;
  width: $moon-icon-width;
}

.sun {
  position: absolute;
  // top: $icon-top;
  right: $icon-right;
  height: $sun-icon-height;
  width: $sun-icon-width;
}
