@use 'sass:math';

// colors
$first-color: #fff; // Text box and todoItem-border
$second-color: #acdcee; // Header background and todoItem background
$third-color: #475053; // Buttons background
$fourth-color: #0981ad; // Fonts
$background-color: #fff; // Body background

// darktheme colors
$first-color-dark: #ced9da;
$second-color-dark: #08475e;
$third-color-dark: #25292b;
$background-color-dark: #333;

// ratio
$base: 1.2;
$h0: math.pow($base, 8.5) + rem;
$h1: math.pow($base, 6) + rem;
$h2: math.pow($base, 5) + rem;
$h3: math.pow($base, 4) + rem;
$small: math.div(1, $base) + rem;
$xsmall: math.div(1, math.pow($base, 2)) + rem;
